body {
  background-color: grey;
}

section {
  border: 1px solid black;
  padding: 10px 20px;
  margin-bottom: 10px;
}

h1 {
  color: black;
  text-transform: uppercase;
}

h2 {
  color: #8B008B;
}

h3 {
  color: #8B008B;
}

p {
  color: #DAA520;
}

